## Agregación de datos por categoría

In [2]:
import numpy as np
import pandas as pd

In [4]:
np.random.seed(2022)

In [5]:
gender = ["Male", "Female"]
income = ["Poor", "Middle Class", "Rich"]

In [9]:
n = 500

gender_data = []
income_data = []

for i in range(0,n):
    # choice para eegir aleatorio de una lista
    gender_data.append(np.random.choice(gender))
    income_data.append(np.random.choice(income))

In [12]:
gender_data[0:10]

['Female',
 'Female',
 'Female',
 'Male',
 'Male',
 'Male',
 'Female',
 'Female',
 'Male',
 'Female']

In [14]:
income_data[0:10]

['Poor',
 'Poor',
 'Middle Class',
 'Poor',
 'Poor',
 'Middle Class',
 'Middle Class',
 'Rich',
 'Poor',
 'Poor']

In [29]:
# Z -> N(0,1)
# N(m,s) -> m + s * Z
height = np.ceil(170 + 20 * np.random.randn(n))
weight = np.ceil(80 + 30 * np.random.randn(n))
age = np.ceil(40 + 39 * np.random.randn(n))
income = np.ceil(18000 + 3500 * np.random.randn(n))

In [30]:
data = pd.DataFrame(
    {
        "Gender" : gender_data,
        "Economic Status" : income_data,
        "height" : height,
        "Weight" : weight,
        "Age" : age,
        "income" : income
    }
)

In [31]:
data.head()

   Gender Economic Status  height  Weight    Age   income
0  Female            Poor   169.0   115.0   72.0  17418.0
1  Female            Poor   178.0    34.0   80.0  24806.0
2  Female    Middle Class   185.0    90.0  143.0  14414.0
3    Male            Poor   194.0   138.0   66.0  19850.0
4    Male            Poor   169.0    37.0   -4.0  18240.0